# /
*.bak
*.dylib
*.inc
*.o
*.a
*.orig
*.rej
*.sav
*.swp
*.d
*~
.DS_Store
.ccmalloc
.svn
/.git
cscope.out
CMakeFiles
CMakeCache.txt
test
test.rb
tmp_out.rb
tmp_out.mrb
build/c_files/out.c
testsuite
build/mrbcc_out
*.so
runner
config.log
config.status
Makefile
